$darker-blue: rgb(3, 42, 71);
$dark-blue: #053c65;
$light-blue: #65768f99;
$light-mode: rgb(14, 31, 38);

// :root {
//   --primary: #{$primary};
//   --accent: #{$accent};
//   --warn: #{$warn};

//   // Even though this looks like a Sass variable, it's valid CSS so it's not
//   // evaluated.
//   --consumed-by-js: $primary;
// }
